@import "tailwindcss";
/* @plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, cmyk;
} */
input,
select,
textarea {
  border: 3px solid #b9d4aa8c;
  outline: none;
  background-color: #ebf5f6;
}
.border-cl{
  border: 3px solid #b9d4aa8c;
}
.black-color {
  color: #2b2d42;
}
.black-bg {
  background-color: #2b2d42;
}

.white-bg {
  background-color: #ffffff;
}
.dark-bg {
  background-color: #006a71;
}
.medium-bg {
  background-color: #48a6a7;
}
.light-bg {
  background-color: #b9d4aa8c;
}

.white-color {
  color: #f2efe7;
}
.dark-color {
  color: #006a71;
}
.medium-color {
  color: #48a6a7;
}
.light-color {
  color: #86e0ea47;
}

.hover-dark-color:hover {
  color: #006a71;
}
.hover-dark-bg:hover {
  background-color: #006a71;
}

.none {
  display: none;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}