@import "tailwindcss";
/* @plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, cmyk;
} */
input,
select {
  border: 0.1px solid #c2c2c5;
  outline: none;
}
button {
  background-color: #4f4f5b;
}
